<div class="bg-white rounded-2xl shadow-2xl p-8 sticky top-8">
  <div class="flex items-center gap-3 mb-8">
    <div class="p-3 rounded-xl shadow-lg" [class]="displayIconStyle()">
      <img class="w-8 h-8 invert" [src]="displayIcon()" />
    </div>
    <h2 class="text-3xl font-bold text-gray-800">{{ displayName() }}</h2>
  </div>

  <div class="space-y-2">
    @for (line of scoreLines(); track line.name; let i = $index) {
    <div
      class="flex items-center justify-between p-2 rounded-xl transition-all"
      [class]="placeBackground(line?.place)"
    >
      <div class="flex items-center gap-4">
        <div class="relative">
          <img [src]="avatars.Avatars.get(line.name)?.url" class="w-16 h-16 rounded-xl" />
          @if (displayAwards() && line?.place === 1 ) {
          <div
            class="absolute -top-3 -right-4 bg-transparent text-white w-8 h-8 rounded-full flex items-center justify-center text-3xl font-bold rotate-45"
          >
            👑
          </div>
          } @if (displayAwards() && line.place) {
          <div
            class="absolute -bottom-2 -right-2 bg-transparent text-white w-8 h-8 rounded-full flex items-center justify-center text-2xl font-bold"
          >
            @if(line.place === 1) { 🥇 }@else if(line.place === 2) { 🥈 }@else if(line.place===3) {
            🥉 }
          </div>
          }
        </div>
        <div>
          <span class="font-bold text-xl text-gray-800">{{ line.name }}</span>
        </div>
      </div>
      <div class="text-right">
        <div class="text-4xl font-bold text-gray-800">{{ line.score }}</div>
      </div>
    </div>
    }
  </div>
</div>
