<!-- Edit Modal -->
<hlm-dialog>
  <button hlmDialogTrigger hlmBtn variant="outline" class="fixed top-2 right-2">✍️</button>
  <hlm-dialog-content *brnDialogContent="let ctx" class="overflow-y-auto min-h-[70dvh] max-h-dvh">
    <div class="container mx-auto p-6 pt-2 pb-2 max-w-6xl">
      <div>
        <label>Select Race: </label>
        <brn-select
          class="inline-block"
          placeholder="Select some fruit"
          [multiple]="false"
          [(value)]="selectedRaceId"
        >
          <hlm-select-trigger class="w-48">
            <hlm-select-value />
          </hlm-select-trigger>
          <hlm-select-content class="w-48">
            @for(race of raceIds();track race) {
            <hlm-option [value]="race.id">{{ race.name }}</hlm-option
            >}
          </hlm-select-content>
        </brn-select>
        <button
          class="bg-transparent hover:bg-blue-500 text-blue-700 font-semibold hover:text-white py-1 px-1 ml-4 hover:border-transparent rounded"
        >
          ➕
        </button>
        <button
          (click)="ExportSeasonData()"
          class="absolute right-12 bg-transparent hover:bg-blue-500 text-blue-700 font-semibold hover:text-white px-3 h-8.5 py-1 border border-blue-500 hover:border-transparent rounded"
        >
          Export
        </button>
      </div>
    </div>

    <div class="">
      <app-result-editor [year]="selectedYear()" [raceID]="selectedRaceId()"></app-result-editor>
      <app-prediction-editor
        [year]="selectedYear()"
        [raceID]="selectedRaceId()"
      ></app-prediction-editor>
    </div>
  </hlm-dialog-content>
</hlm-dialog>

<div class="container mx-auto p-6 max-w-6xl">
  <div class="bg-white rounded-lg shadow overflow-hidden">
    <div class="overflow-x-auto">
      <table class="w-full">
        <thead class="bg-gray-100 border-b border-gray-200">
          <tr>
            <th class="px-6 py-3 text-left text-sm font-semibold text-gray-700">Race</th>
            <th class="px-6 py-3 text-left text-sm font-semibold text-gray-700">Flags</th>
            <th class="px-6 py-3 text-left text-sm font-semibold text-gray-700">Drivers</th>
            <th class="px-6 py-3 text-left text-sm font-semibold text-gray-700">Winner</th>
            <th class="px-6 py-3 text-left text-sm font-semibold text-gray-700">Team</th>
            <th class="px-6 py-3 text-left text-sm font-semibold text-gray-700">DNF</th>
          </tr>
        </thead>
        <tbody class="divide-y divide-gray-200">
          @for(result of this.raceDataService.Datasets()[selectedYear()].results; track result.id) {
          <tr class="hover:bg-gray-50 transition-colors">
            <td class="px-6 py-4">
              {{ result.race }}
            </td>
            <td class="px-6 py-4">
              {{ result.flags }}
            </td>
            <td class="px-6 py-4">
              {{ result.drivers }}
            </td>
            <td class="px-6 py-4">
              {{ result.winner }}
            </td>
            <td class="px-6 py-4">
              {{ result.team }}
            </td>
            <td class="px-6 py-4">
              @if(result.dnfs.length < 4 && result.dnfs.length > 0 ) {
              <p class="max-w-40 text-ellipsis overflow-hidden">
                {{ result.dnfs }}
              </p>
              }@else {
              <p class="max-w-40 text-ellipsis overflow-hidden">
                {{ result.dnfs.length }}
              </p>
              }
            </td>
          </tr>
          }
        </tbody>
      </table>
    </div>
  </div>
</div>
