<div class="min-h-screen bg-linear-to-br from-blue-50 via-indigo-50 to-purple-50">
  <app-top-nav activeItem="Test"></app-top-nav>
  <div class="max-w-450 mx-auto p-4">
    <!-- Edit Modal -->
    <hlm-dialog>
      <button hlmDialogTrigger hlmBtn variant="outline" class="fixed top-14 right-2 text-2xl">
        ✍️
      </button>
      <hlm-dialog-content
        *brnDialogContent="let ctx"
        class="overflow-y-auto overflow-x-hidden min-h-[70dvh] max-h-dvh"
      >
        <div class="container mx-auto p-6 pt-2 pb-2 max-w-7xl">
          <div>
            <label>Select Race: </label>
            <brn-select
              class="inline-block"
              placeholder="Select some fruit"
              [multiple]="false"
              [(value)]="selectedRaceId"
            >
              <hlm-select-trigger class="w-48">
                <hlm-select-value />
              </hlm-select-trigger>
              <hlm-select-content class="w-48">
                @for(race of raceIds();track race.id) {
                <hlm-option [value]="race.id">{{ race.name }}</hlm-option
                >}
              </hlm-select-content>
            </brn-select>
            <button
              (click)="AddRaceToSeason()"
              class="bg-transparent hover:bg-blue-500 text-blue-700 font-semibold hover:text-white py-1 px-1 ml-4 hover:border-transparent rounded"
            >
              ➕
            </button>
            <button
              (click)="ExportSeasonData()"
              class="absolute right-12 bg-transparent hover:bg-blue-500 text-blue-700 font-semibold hover:text-white px-3 h-8.5 py-1 border border-blue-500 hover:border-transparent rounded"
            >
              Export
            </button>
          </div>
        </div>

        <div class="">
          <app-result-editor
            [year]="selectedYear()"
            [raceID]="selectedRaceId()"
            (updatedData)="UpdateData()"
          ></app-result-editor>
          <app-prediction-editor
            [year]="selectedYear()"
            [raceID]="selectedRaceId()"
            (updatedData)="UpdateData()"
          ></app-prediction-editor>
        </div>
      </hlm-dialog-content>
    </hlm-dialog>

    <hlm-tabs tab="Standings" class="w-full">
      <hlm-tabs-list aria-label="tabs example">
        <button hlmTabsTrigger="Standings">Standings</button>
        <button hlmTabsTrigger="Last Race">Last Race</button>
        <button hlmTabsTrigger="Races">Races</button>
      </hlm-tabs-list>
      <div hlmTabsContent="Standings">
        <div class="grid grid-cols-1 xl:grid-cols-2 gap-8">
          <!-- Left Column - Overall Leaderboard -->

          <div class="space-y-4">
            <app-scoreblock-hero-v1
              [scores]="totalScores()"
              selectedScore="totalScore"
              displayName="Overall Leaderboard"
            ></app-scoreblock-hero-v1>
          </div>

          <!-- Right Column - Categories -->
          <div class="space-4 grid grid-cols-2 gap-4">
            <!-- Flags -->
            <app-scoreblock-v1
              [scores]="totalScores()"
              selectedScore="flagScore"
              displayName="Flags"
              displayIcon="/icons/flag-sharp.svg"
              displayIconStyle="bg-red-500"
            ></app-scoreblock-v1>

            <!-- Drivers -->
            <app-scoreblock-v1
              [scores]="totalScores()"
              selectedScore="driverScore"
              displayName="Drivers"
              displayIcon="/icons/people-sharp.svg"
              displayIconStyle="bg-blue-500"
            ></app-scoreblock-v1>

            <!-- Winner -->
            <app-scoreblock-v1
              [scores]="totalScores()"
              selectedScore="winnerScore"
              displayName="Winner"
              displayIcon="/icons/car-sport-sharp.svg"
              displayIconStyle="bg-yellow-500"
            ></app-scoreblock-v1>

            <!-- DNF -->
            <app-scoreblock-v1
              [scores]="totalScores()"
              selectedScore="dnfScore"
              displayName="DNF"
              displayIcon="/icons/car-crash.svg"
              displayIconStyle="bg-gray-500"
            ></app-scoreblock-v1>
          </div>
        </div>
      </div>
      <div hlmTabsContent="Last Race">
        <section hlmCard>
          <div hlmCardHeader>
            <h3 hlmCardTitle>Password</h3>
            <p hlmCardDescription>bla bla bla</p>
          </div>
          <p hlmCardContent></p>
          <div hlmCardFooter></div>
        </section>
      </div>
      <div hlmTabsContent="Races">
        <section hlmCard>
          <div hlmCardHeader>
            <h3 hlmCardTitle>Races</h3>
            <p hlmCardDescription>bla bla bla</p>
          </div>
          <p hlmCardContent></p>
          <div hlmCardFooter></div>
        </section>
      </div>
    </hlm-tabs>
  </div>
</div>
